.text-underlined {
  text-decoration: 1.5px underline;
  text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontJosefin);
  font-weight: 500;
  margin: 0 0 0.9375rem !important;
  line-height: 1.1;
}

a {
  font-size: var(--size14);
  text-decoration: none;
}

p {
  font-family: var(--fontNunito);
  font-size: var(--size14);
  color: var(--textColor);
}

p.lead,
.btn {
  font-family: var(--fontJosefin);
}

.card-text {
  font-size: var(--size14);
}
